<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".Inventapp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/bankit_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bankit_logo"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Inventapp"
        tools:targetApi="31">
        <activity
            android:name=".ui.detail.DetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Inventapp.WhiteStatusBar" />
        <activity
            android:name=".ui.editstocks.EditStocksActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Inventapp.WhiteStatusBar" />
        <activity
            android:name=".ui.addstocks.AddStocksActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Inventapp.WhiteStatusBar" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.fakhrirasyids.inventapp"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/image_paths" />
        </provider>
    </application>

</manifest>